// recent posts styles:

.recent-post {
    .recent-post-title a {
        color: $gray-one;
        text-decoration: none;
        @include mediaQueryFontSize();
    }

    .recent-post-topics {
        .post-topic {
            color: $gray-two;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            margin-right: 10px;
            @include mediaQueryFontSize();
        }
    }
}

// results posts styles:

// Animation for result post link and box:
.result-post-links {
    height: 0px;
    transition: 1s;

    a, .no-content {
        color: transparent;
    }
}

.result-post-title-link-wrapper:hover {
    .result-post-links {
        height: 70px;
        @media screen and (max-width: 800px) {
            height: 100%;
        }
        

        a {
            color: $gray-one;
        }
    }

    .post-link-box {
        min-width: 70px; 
        background-color: $gray-three;
    }

    .no-content {
        color: $gray-one;
    }
}

.animatedHoverEffectLink a, .animatedHoverEffectBox, .animatedHoverEffectNoContent {
    transition: 1s ease-in-out;
    min-height: 70px;
}





.result-post {
    display: grid;
    grid-row-gap: 20px;
        .result-post-topics {
            .post-topic {
                color: $blue-one;
                margin-right: 8px;
                @include fontSizeLineHeight();
            }
        }

        .result-post-title-link-wrapper {
            display: grid;
            grid-row-gap: 18px;

            .result-post-title a {
                color: $gray-one;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                @media screen and (max-width: 800px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
}

.result-post-links {
    @media screen and (min-width: 800px) {
        display: flex;
    }

    .no-content {
        @include fontSizeLineHeight();
    }

    .post-link-container {
        display: flex;
        margin-right: 30px;
    
        .post-link-box {
            margin-right: 16px;
        }
    
        .post-link a {
            @include fontSizeLineHeight();
        }
    }
}

