.recent-posts {
    justify-items: center;

    ul {
        @include HideUlTags();
    }

    .recent-posts-wrapper {
        display: grid;
        grid-gap: 21px;
        width: 100%;

        .recent-posts-heading {
            color: $blue-one;
            font-size: 14px;
        }

        .recent-posts-items {
            display: grid;
            @media screen and (min-width: 800px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            grid-gap: 42px;
        }
    }
}
